.status-bar__column:first-child a {
    text-decoration: none;
    color: inherit;
}

.status-bar__column:last-child i {
    margin: 10px;
}

.status-bar__column:nth-child(3) {
    margin: 3px;
}

.main-note__screen {
    font-size: 50px;
    font-weight: 600;
    margin: 30px;
}

.main-note__title {
    padding-bottom: 40px;
    border-bottom: var(--main-border);
}

.main-note__sub-title {
    display: flex;
    padding-left: 10px;
    padding-top: 40px;
    font-size: 25px;
    font-weight: 100;
}

@keyframes blink {
    0% {
        transform: none;
        opacity: 1;
        animation-delay: 0.2s;
    }
    50% {
        opacity: 0;
        animation-delay: 0.3s;
    }
    100% {
        opacity: 1;
        animation-delay: 0.2s;
    }
}

.typing {
    display: flex;
    margin-left: 2px;
    animation: blink 1s infinite;
}