.status-bar {
    background-color: #BFBFBF;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

.status-bar__column i {
    margin-top: 7px;
}

.status-bar__column h1 {
    margin-top: 0;
    margin-right: 2330px;
}

body {
    height: 100%;
    width: 100%;
    background-color: bisque;
}

.screen-bar {
    position: relative;
}

.note-title__column {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.note-title__column i {
    color: white;
    background-color: #2A282B;
    margin-left: 30px;
    padding: 30px 38px;
    border-radius: 50%;
}

.fir-title {
    position: relative;
    top: -35px;
    margin-left: 15px;
    font-size: 30px;
    font-weight: 700;
}

.sub-title {
    position: absolute;
    top: 68px;
    left: 166px;
    font-weight: 550;
    font-size: 21px;
}

.day-title {
    position: absolute;
    top: 25px;
    right: 43px;
    font-weight: 550;
    font-size: 21px;
}

.screen-bar a {
    text-decoration: none;
    color: inherit;
}

@keyframes circle-rotaition {
    from {
        transform: rotate(300deg);
        transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    }
    to {
        transform: rotate(0deg);
    }
}

.boom {
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.boom:first-child {
    margin-top: 30%;
}

.boom:nth-child(2) {
    font-size: 20px;
    margin-left: 600px;
}

.boom:last-child i {
    color: white;
    padding: 20px;
    border-radius: 20px;
    margin-left: 95%;
    background-color: #2A282B;
}

.boom:last-child i:hover {
    animation: circle-rotaition 1.2s forwards;
    
}

/* 애니매이션을 넣고 싶었지만 실력이 부족하다ㅏㅏㅏ */

.boom:first-child, .boom:nth-child(2) span {
    margin-left: 90%;
    font-size: 20px;
}

.boom:first-child i, .boom:nth-child(2) i {
    color: #CBC9C9;
    padding: 20px 10px;
    border-radius: 15px;
    background-color: #2A282B;
}

